{% extends "admin.html" %}

{% block admin_content %}
<h2>Season management</h2>

<form action="{{ url_for('admin.upload_file') }}" method="post" enctype="multipart/form-data">
	<div class="form-group">
		<label for="file">Upload a new season</label>
		<input type="file" class="form-control-file" id="file" name="file" oninput="validateForm()">
	</div>
	<button type="submit" class="btn btn-primary" id="submit_button" disabled>Go!</button>
</form>
<br />
<br />

<table class="table table-striped">
	<thead>
		<tr>
			<th>Name</th>
			<th>Genesis Location</th>
			<th>Default season?</th>
			<th>Date created</th>
			<th>Location Count</th>
			<th>Origin File</th>
		</tr>
	</thead>
	<tbody>
		{% for season, location_count in seasons %}
		<tr>
			<td>{{ season.name }} <a href="{{ url_for('main.play', url_season_id=season.id) }}">[PLAY]</a></td>
			<td>{{ season.genesis_location_id }}</td>
			<td>
				{% if season.default %}
				<span class="text-danger font-weight-bold">{{ season.default }}</span>
				{% else %}
				{{ season.default }}
				{% endif %}
			</td>
			<td><span class="datetime" data-datetime="{{ season.date_created.isoformat() }}"></span></td>
			<td>{{ location_count }}</td>
			<td>{{ season.origin_file }}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>

<script>
	function validateForm() {
		const fileInput = document.getElementById('file');
		const submitButton = document.getElementById('submit_button');
		if (fileInput.files.length > 0) {
			submitButton.disabled = false;
		} else {
			submitButton.disabled = true;
		}
	}

	document.addEventListener('DOMContentLoaded', function () {
		const datetimeElements = document.querySelectorAll('.datetime');
		datetimeElements.forEach(function (element) {
			const datetime = new Date(element.getAttribute('data-datetime'));
			element.textContent = datetime.toLocaleString();
		});
	});
</script>

{% endblock %}